  {{>header}}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blogs Infinity</h1>
              <span class="subheading">A Blog Website Created With NodeJs, ExpressJs And MongoDB</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {{#each posts}}
          <div class="post-preview">
            <a href="/post/{{this._id}}">
              <h2 class="post-title">
                {{this.title}}
              </h2>
              <h3 class="post-subtitle">
                {{this.description}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{this.username}}</a>
              on {{moment this.createdAt format="dddd, DD MMMM YYYY HH:mm"}}
            </p>
          </div>
          <hr>
          {{/each}}

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

  {{>footer}}